name: Terraform CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  terraform_ci:
    name: CI - Terraform Plan
    runs-on: ubuntu-latest
    # if: github.ref == 'refs/heads/dev'  # Executar somente na branch "dev"

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: AWS Login
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Ajuste para a sua regi達o da AWS

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0  # Ajuste para a vers達o desejada do Terraform

    - name: Initialize Terraform
      run: terraform init
      working-directory: ./

    - name: Plan Terraform Changes
      run: terraform plan -var-file="prod.tfvars" -out=tfplan
      working-directory: ./

  terraform_cd:  
    name: CD - Terraform Apply
    runs-on: ubuntu-latest

    needs: terraform_ci

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: AWS Login
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1  # Ajuste para a sua regi達o da AWS

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0  # Ajuste para a vers達o desejada do Terraform
    - name: Initialize Terraform
      run: terraform init
      working-directory: ./

    - name: Plan Terraform Changes
      run: terraform plan -var-file="prod.tfvars" -out=tfplan
      working-directory: ./            

    - name: Apply Terraform Changes
      run: terraform apply tfplan
      working-directory: ./
  approval:
    needs: terraform_cd
    runs-on: ubuntu-latest

    steps:
    - name: Request Manual Approval
      uses: actions/github-script@0.6.0
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          await github.request('POST /repos/:owner/:repo/actions/workflows/:workflow_id/dispatches', {
            owner: context.repo.owner,
            repo: context.repo.repo,
            workflow_id: context.workflow,
            ref: context.ref
          });      